@* 
<p>Competência</p> @ViewData["titulo"]

@{
    var competencia = ViewData["tablebloom"] as Competencia; //Declarado como tipo Competencia, ViewData precisa enfatizar o tipo
} *@

<div class="text-Left">
    <h1>Taxonomia de Bloom</h1>
    <p></p>
<form>
<div class="container">
  <div class="row row-cols-auto">
    <div class="col">
      @* <input type = "text"> *@
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Competência</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    <div class="col">
      <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Selecione o Verbo
                  </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Memorizar</a></li>
                    <li><a class="dropdown-item" href="#">Compreender</a></li>
                    <li><a class="dropdown-item" href="#">Aplicar</a></li>
                    <li><a class="dropdown-item" href="#">Analisar</a></li>
                    <li><a class="dropdown-item" href="#">Avaliar</a></li>
                    <li><a class="dropdown-item" href="#">Criar</a></li>
                  </ul>
      </div>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">Cadastrar</button>
    </div>
  </div>
</div>
</form>